* {

    font-family: Arial;
}

* {
    box-sizing: border-box;
    font-family: Arial;
}


body {
    margin: 0;
}


.main {
    padding-left: 50px;
    padding-right: 50px;
}


.navbar-nav input[type="submit"] {
    background: transparent;
    height: 28px;
    width: 70px;
    vertical-align: middle;
    padding: 0;
    border: none;
    color: #2474a6;
}

.info_column {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

.info_column2 {
    float: left;
    width: 70%;
}

.info_row:after {
    content: "";
    display: table;
    clear: both;
}

.myImg{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:50%;
    text-align: right;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    padding: 8px 17px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px dashed #979797;
    border-radius: 23px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #979797;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.main input[type=submit] {
    background-color: #2474a6;
    border: none;
    color: white;
    padding: 10px 35px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
    font-family: Roboto;
    font-size: 15px;
    text-align: center;
}


.main input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


textarea{
    overflow: auto;
    outline: none;
}

.title{
    font-size: 20px;
    word-break: break-all;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
}