.title{
    position: relative;
    color:#2474A6;
    font-size: 1vw;
}

.userPic{
    position: relative;
    top: 5vw;
    left:25vw;
}

.upload{
    position: relative;
    top: 6vw;
    left: 25vw;
}

.firstname{
    position: relative;
    top:-5vw;
    left: 40vw;
}

.infos{
    border-style:none;
    border-bottom-style:solid;
    border-bottom-width:thin;
    border-bottom-color:#2474A6;
}

.lastname{
    position: relative;
    top: -3vw;
    left: 40.1vw;
}

.contactInfo {
    position: relative;
    top: -2vw;
    left: 40vw;
}

.location{
    position: relative;
    top: 0vw;
    left: 40vw;
}

.education{
    position: relative;
    top: 2vw;
    left: 40vw;
}

.workExp{
    position: relative;
    top: 4vw;
    left: 40vw;
}

.summary{
    position: relative;
    top: 6vw;
    left: 40vw;
}

.change{
    position: relative;
    top: 8vw;
    left: 50vw;
}