* {

    font-family: Arial;
}

/* navigation bar */
.topnav {
    overflow: hidden;
    border:#2474A6;
    margin-bottom: 100px;
}

.topnav a {
    float: left;
    color: #2474A6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: lightgrey;
    transition: color 0.2s;
}


.topnav-right {
    float: right;
}

.topnav .logo{
    position: relative;
    bottom: 10px;
    margin: 2px;
}

.nav-login-b{
    border: 1px solid #2474A6;
    border-radius: 50px;
    padding: 10px 20px;
    background: rgba(218, 218, 218, 0.13);
    margin-right:30px;
}

.nav-login-b:hover {
    background-color: white;
    color: black;
    transition: color 0.2s;
}

.nav-register-b{
    border: 1px solid #2474A6;
    background: #2474A6;
    border-radius: 50px;
    padding: 10px 20px;
}

.nav-register-b:hover {
    border: 1px solid #1E5E86;
    background-color: #1E5E86;
    transition: color 0.2s;
}

.topnav-right input{
    border: 1px solid white;
    border-radius: 50px;
    background-color: white;
}

input[type="submit"] {
    background: transparent;
    color:#2474A6;
    height: 28px;
    width: 70px;
    vertical-align: middle;
    padding: 0;
    border: none;
}

body {
    margin: 0;
}

.main {
    padding: 20px;
}

h1 {
    font-size: 35px;
    word-break: break-all;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
}

h2 {
    font-size: 19px;
    word-break: break-all;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 44px;
}

.uploadButton {
    background-color: #2474a6;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.uploadButton1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.row {
    margin: 10px -16px;
}


.row,
.row > .column {
    padding: 8px;
}


.column {
    float: left;
    width: 100%;
    display: none;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


.content {
    background-color: #ddd;
    padding: 10px;
}

.show {
    display: block;
}

.btn_group{
    text-align: center;
}

.btn {
    padding: 12px 40px;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.btn:hover {
    text-decoration:underline;
}

.btn:active {

}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
}

.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    width: 50%;
    max-width: 1200px;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}


.text {
    color: black;
    font-size: 14px;
    text-align: center;

}


/* about me part */
.edit{
    position: relative;
    top: 5vw;
    left: 8vw;
    color: white;
    background-color: #2474a6;
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.userPic{
    position: relative;
    top: 0vw;
    left:25vw;
}

.title{
    color: #2474A6;
    font-size: 1vw;
}

.firstname{
    position: relative;
    top:0vw;
    left: 40vw;
}

.lastname{
    position: relative;
    top: 0vw;
    left: 40.1vw;
}

.contactInfo {
    position: relative;
    top: -2vw;
    left: 40vw;
}

.location{
    position: relative;
    top: 0vw;
    left: 40vw;
}

.education{
    position: relative;
    top: 2vw;
    left: 40vw;
}

.workExp{
    position: relative;
    top: 4vw;
    left: 40vw;
}

.summary{
    position: relative;
    top: 6vw;
    left: 40vw;
}
