* {

    font-family: Arial;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
}

a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}


.column {
    float: left;
    width: 50%;
    padding: 60px 60px 60px 80px;
}

.row:after {
    content: "";
    display: table;
    clear: both;

}

.title{
    padding-top: 10px;
    font-family: Cormorant Infant;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
}

.description{
    font-family: Cormorant Infant;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    white-space:pre;
    text-align: center;
    padding: 10px;
}


.uploadButton {
    background-color: #2474a6;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

input[type="submit"] {
    background: transparent;
    height: 28px;
    width: 70px;
    vertical-align: middle;
    padding: 0;
    border: none;
    color: #2474a6;
}

