* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main {
    padding: 40px;
}

.navbar-nav input[type="submit"] {
    background: transparent;
    height: 28px;
    width: 70px;
    vertical-align: middle;
    padding: 0;
    border: none;
    color: white;
}


h1 {
    word-break: break-all;
    text-align: center;
    font-size: 40px;
    line-height: 44px;
}


h2 , h3{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    word-break: break-all;
    line-height: 70px;
    margin-top: 50px;
}


alterPosition{
    margin-top: 25px;
    padding: 40px;
    width:50px;
}



lable{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    padding-right: 10%;
    padding-left: 10%;
}

.button1 {
    background-color: #d8e2dc;
    border: none;
    padding: 10px 10px;
    margin-right: 7px;
}

.button2 {
    background-color: #ffe5d9;
    border: none;
    padding: 10px 10px;
    margin-right: 7px;
}

.button3 {
    background-color: #ffcad4;
    border: none;
    padding: 10px 10px;
    margin-right: 7px;
}

.button4 {
    background-color: #f4acb7;
    border: none;
    padding: 5px 5px;
}


input[type="color"] {
    background-color: #f4acb7;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    padding: 0;
    border: none;
    padding: 7px 7px;
    margin-top: 8px;
}


.language{
    font-size: 15px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}


.visibility input[type="submit"] {
    padding: 4px 7px;
    vertical-align: middle;
    border: none;
    color: black;
    margin-left: 50px;
    border-radius: 4px;
    background-color: #f1f1f1;
}


select {
    padding: 6px 6px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
