<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Project edit</title>
</head>
<body>
<h1 th:text="${prevInfo.lastName}">EDIT YOUR FILE</h1>
<form th:action="@{/profile/{username}/edit(username=${#authentication.name})}" th:object="${userInfo}"method="POST" enctype="multipart/form-data">



    <div>
        <input type="file" name="picture"/>
    </div>

    <div>
        <label for="firstName">First Name
            <input name="infos" type="text" id="firstname"  th:value="${prevInfo?.firstName}" required/>
        </label>
    </div>

    <div>
        <label for="lastname">Last Name
            <input name="infos" th:value="${prevInfo?.lastName}" type="text"  id="lastname" required/>
        </label>
    </div>

    <div>
        <label for="contactInfo">Contact Info
            <textarea name="infos" type="text" th:text="${prevInfo?.contactInfo}" id="contactInfo" required></textarea>
        </label>
    </div>

    <div>
        <label for="location">Location
            <textarea name="infos" type="text" th:text="${prevInfo?.location}" id="location" required></textarea>
        </label>
    </div>

    <div>
        <label for="education">Education
            <textarea name="infos" type="text" th:text="${prevInfo?.education}" id="education" required></textarea>
        </label>
    </div>

    <div>
        <label for="workExp">Work Experience
            <textarea name="infos" type="text" th:text="${prevInfo?.workExp}" id="workExp" required></textarea>
        </label>
    </div>

    <div>
        <label for="summary">Profile Summary
            <textarea name="infos" type="text" th:text="${prevInfo?.summary}" id="summary" required></textarea>
        </label>
    </div>


    <input type="submit" value="change">

</form>


</body>
</html>