<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link th:href="@{/css/private.css}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>CANNOT ACCESS</title>
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg" style="background-color: #ffffff">

    <a class="navbar-brand text-white" th:href="@{/hello}">
        <i class="fas fa-less-than" style="padding: 5px; color:#2474A6"></i>
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <a th:href="@{/settings}">
                <i class="fas fa-cog" style="padding: 5px; color:#2474A6"></i>
            </a>

            <a th:href="@{/home}">
                <i class="fas fa-home" style="padding: 5px; color:#2474A6"></i>
            </a>


            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log out"/>
            </form>

        </div>
    </div>

</nav>

<h1>The user has elected to private their profile</h1>


</body>
</html>
