<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link th:href="@{/css/profile.css}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<div>
    <nav class="navbar sticky-top navbar-expand-lg" style="background-color: white">

        <a class="navbar-brand text-white" th:href="@{/hello}">
            <i class="fas fa-less-than" style="padding: 5px; color:#2474a6"></i>
        </a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a th:href="@{/settings}">
                    <i class="fas fa-cog" style="padding: 5px; color:#2474a6"></i>
                </a>

                <a th:href="@{/home}">
                    <i class="fas fa-home" style="padding: 5px; color:#2474a6"></i>
                </a>


                <form sec:authorize="isFullyAuthenticated()" th:action="@{/logout}" method="post">
                    <input type="submit" value="Log out"/>
                </form>

                <a sec:authorize="isAnonymous()" th:href="@{/login}">
                    <input type="submit" value="Login"/>
                </a>

            </div>
        </div>

    </nav>

        <div class="main">
            <h1>
                <p th:text="${username}"></p>
            </h1>
            <h2>PORTFOLIO</h2>

            <div class="resume_row">
                <div class="info_column">
                    <div class="cardBox">
                        <div style="text-align: center">
                            <img class="myImg" th:if="${havePic}" th:src="@{/user/{username}/picture(username=${username})}">
                            <img th:if="!${havePic}" th:src="@{/images/account-img.png}" style="width:150px; height:150px;">
                        </div>

                        <div>
                            <h1 th:text="${userInfo?.firstName}+' '+${userInfo?.lastName}"></h1>
                            <h1><i class="fas fa-phone-alt"></i> Contact Info</h1>
                            <p th:text="${userInfo?.contactInfo}"></p>
                            <h1><i class="fas fa-map-marker-alt"></i> Location</h1>
                            <p th:text="${userInfo?.location}"></p>
                            <h1><i class="fas fa-graduation-cap"></i> Education</h1>
                            <p th:text="${userInfo?.education}"></p>
                            <h1><i class="fas fa-suitcase"></i> Work Experience</h1>
                            <p th:text="${userInfo?.workExp}"></p>
                            <h1><i class="fas fa-paper-plane"></i> Summary</h1>
                            <div style="text-align: center">
                                <span th:text="${userInfo?.summary}"></span>
                            </div>
                        </div>

                        <div style="text-align: center">
                            <a th:if="${showEdit}" th:href="@{/profile/{username}/edit(username=${#authentication.name})}">
                                <button class="uploadButton"><i class="fas fa-plus"></i> Edit your information</button>
                            </a>
                        </div>
                    </div>
                </div>




                <div class="project_column">
                    <div style="text-align: right">
                        <a th:if="${showEdit}" th:href="@{/upload}">
                            <button class="uploadButton"><i class="fas fa-plus"></i> Upload a new project</button>
                        </a>
                    </div>

                    <div id="myBtnContainer" class="btn_group">
                        <p class="btn" onclick="filterSelection('projects')"> Projects</p>
                        <p class="btn" onclick="filterSelection('images')"> Photos</p>
                        <p class="btn" onclick="filterSelection('audio')"> Audios</p>
                        <p class="btn" onclick="filterSelection('video')"> Videos</p>
                        <p class="btn" onclick="filterSelection('documents')"> Essays</p>
                    </div>

                    <div class="row">
                        <div class="column projects">
                            <div class="container">
                                <div th:each="index: ${#numbers.sequence(0, projectIDs.size()-1, 3)}">
                                    <div class="row row-cols-3">
                                        <div class = "col">
                                            <a th:href="@{/projects/{username}/{id}(username=${username}, id=${projectIDs.get(index)})}">
                                                <img th:if="${displayIDs.get(index) == 0}" th:src="@{/images/defaultProject.jpg}" style="width:100%" alt="image">
                                                <img th:if="${displayIDs.get(index) != 0}"  th:src="@{/display/projects/{username}/{id}(username=${#authentication.name}, id=${displayIDs.get(index)})}" style="width:100%" alt="image">
                                            </a>
                                            <div>
                                                <p th:text="${projectNames.get(index)}"></p>
                                            </div>

                                        </div>
                                        <div class = "col">
                                            <a th:if="${(index + 1) < projectIDs.size()}" th:href="@{/projects/{username}/{id}(username=${username}, id=${projectIDs.get(index + 1)})}">
                                                <img th:if="${displayIDs.get(index + 1) == 0}" th:src="@{/images/defaultProject.jpg}" style="width:100%">
                                                <img th:if="${displayIDs.get(index + 1) != 0}"  th:src="@{/display/projects/{username}/{id}(username=${#authentication.name}, id=${displayIDs.get(index + 1)})}" style="width:100%">
                                            </a>
                                            <div th:if="${(index + 1) < projectIDs.size()}">
                                                <p th:text="${projectNames.get(index + 1)}"></p>
                                            </div>


                                        </div>
                                        <div class = "col">
                                            <a th:if="${(index + 2) < projectIDs.size()}" th:href="@{/projects/{username}/{id}(username=${username}, id=${projectIDs.get(index + 2)})}" >
                                                <img th:if="${displayIDs.get(index + 2) == 0}" th:src="@{/images/defaultProject.jpg}" style="width:100%">
                                                <img th:if="${displayIDs.get(index + 2) != 0}"  th:src="@{/display/projects/{username}/{id}(username=${#authentication.name}, id=${displayIDs.get(index + 2)})}" style="width:100%">
                                            </a>
                                            <div th:if="${(index + 2) < projectIDs.size()}">
                                                <p th:text="${projectNames.get(index + 2)}"></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <div class="column images">
                            <div class="container">
                                <div th:each="index: ${#numbers.sequence(0, imageIDs.size()-1, 3)}">
                                    <div class="row">
                                        <div class = "col hover-shadow cursor" onclick="openModal();">
                                            <img th:src="@{/image/{username}/{id}(username=${#authentication.name}, id=${imageIDs.get(index)})}" alt="Images" style="width:100%">
                                        </div>
                                        <div class = "col hover-shadow cursor" onclick="openModal();">
                                            <img th:if="${(index + 1) < imageIDs.size()}" class = "col " th:src="@{/image/{username}/{id}(username=${#authentication.name}, id=${imageIDs.get(index+1)})}" alt="Images" style="width:100%">
                                        </div>
                                        <div class = "col hover-shadow cursor" onclick="openModal();">
                                            <img th:if="${(index + 2) < imageIDs.size()}" class = "col " th:src="@{/image/{username}/{id}(username=${#authentication.name}, id=${imageIDs.get(index+2)})}" alt="Images" style="width:100%">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="myModal" class="modal">
                                <div class="modal-content">
                                    <div class="mySlides">
                                        <div th:each="imageid : ${imageIDs}">
                                            <img th:src="@{/image/{username}/{id}(username=${#authentication.name}, id=${imageid})}" alt="Images" style="width:100%">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="column audio">
                            <div class="container">
                                <div th:each="index: ${#numbers.sequence(0, audioIDs.size()-1, 2)}">
                                    <div class="row row-cols-2">
                                        <div class = "col">
                                            <div class="popup" onclick="playAudio(this);">
                                                <img th:src="@{/images/music.jpg}" style="width:100%; padding-left: 65px;">
                                                <span class="popupBox" th:id="${index}">
                                            <audio controls src th:src="@{/audio/{username}/{id}(username=${#authentication.name}, id=${audioIDs.get(index)})}" alt="Audio" style="width:100%"></audio>
                                        </span>
                                            </div>
                                        </div>
                                        <div class = "col">
                                            <div class="popup" onclick="playAudio(this);">
                                                <img th:if="${(index + 1) < audioIDs.size()}" th:src="@{/images/music.jpg}"  style="width:100%; padding-left: 65px;">
                                                <span class="popupBox" th:id="${index+1}">
                                            <audio th:if="${(index + 1) < audioIDs.size()}" controls src th:src="@{/audio/{username}/{id}(username=${#authentication.name}, id=${audioIDs.get(index+1)})}" alt="Audio" style="width:100%"></audio>
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column video">
                            <div class="container">
                                <div th:each="index: ${#numbers.sequence(0, videoIDs.size()-1, 2)}">
                                    <div class="row row-cols-2">
                                        <div class = "col">
                                            <video width="320" height="240" controls onclick="openVideoModal();">
                                                <source th:src="@{/video/{username}/{id}(username=${#authentication.name}, id=${videoIDs.get(index)})}" alt="Video">
                                            </video>
                                        </div>

                                        <div class = "col">
                                            <video th:if="${(index + 1) < videoIDs.size()}" width="320" height="240" controls onclick="openVideoModal();">
                                                <source th:src="@{/video/{username}/{id}(username=${#authentication.name}, id=${videoIDs.get(index+1)})}" alt="Video">
                                            </video>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="videoModal" class="videoModal">
                                <div class="video-slideshow-container">
                                    <div th:each="videoid: ${#numbers.sequence(0, videoIDs.size()-1, 1)}">
                                        <div class="videoSlides">
                                            <video style="width: 100%; height: 100%;" controls>
                                                <source th:src="@{/video/{username}/{id}(username=${#authentication.name}, id=${videoIDs.get(videoid)})}" alt="Video">';
                                            </video>
                                        </div>
                                    </div>
                                    <a class="prev" onclick="plusVideoSlides(-1)">❮</a>
                                    <a class="next" onclick="plusVideoSlides(1)">❯</a>
                                </div>
                            </div>
                        </div>

                        <div class="column documents">
                            <div class="container">
                                <iframe name="iframe_a" height="550px" width="100%" title="Iframe Example"></iframe>
                                <p th:each="doc : ${docs}">
                                    <a th:href="@{/document/{username}/{id}(username=${#authentication.name}, id=${doc.key})}" target="iframe_a" th:text="${doc.value}"></a>
                                </p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>









</div>





    <script>
        filterSelection("all")
        function filterSelection(c) {
            let x, i;
            x = document.getElementsByClassName("column");
            if (c == "all") c = "projects";
            for (i = 0; i < x.length; i++) {
                RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) AddClass(x[i], "show");
            }
        }

        function AddClass(element, name) {
            let i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
            }
        }

        function RemoveClass(element, name) {
            let i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        let btnContainer = document.getElementById("myBtnContainer");
        let btns = btnContainer.getElementsByClassName("btn");
        for (let i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function(){
                let current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }

        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        let slideIndex = 1;
        showSlides(slideIndex);

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex-1].style.display = "block";
        }

        $(document).mouseup(function(e) {
            if ($(e.target).parents('.modal-content').length == 0 && !$(e.target).is('.modal-content')) {
                $('.modal').css('display', 'none');
            }
        });



        function openVideoModal() {
            document.getElementById("videoModal").style.display = "block";
        }

        var videoSlideIndex = 1;
        showVideoSlides(videoSlideIndex);

        function plusVideoSlides(n) {
            showVideoSlides(videoSlideIndex += n);
        }

        function showVideoSlides(n) {
            var i;
            var slides = document.getElementsByClassName("videoSlides");
            if (n > slides.length) {videoSlideIndex = 1}
            if (n < 1) {videoSlideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[videoSlideIndex-1].style.display = "block";
        }

        $(document).mouseup(function(e) {
            if ($(e.target).parents('.video-slideshow-container').length == 0 && !$(e.target).is('.video-slideshow-container')) {
                $('.videoModal').css('display', 'none');
            }
        });


        function playAudio(input) {
            let popupID = input.children[1].id;
            let popup = document.getElementById(popupID);
            popup.classList.toggle("show");
        }



    </script>



</html>





